$light_main: #EEEFF1;
$dark_main: #1A1C20;
$light_blue: #60A3BC;

@mixin transition($property) {
  transition: $property 0.2s;
  -webkit-transition: $property 0.2s;
  -o-transition: $property 0.2s;
  -moz-transition: $property 0.2s;
}