@import '../../styles/variables.scss';

.works {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    opacity: 0;

    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;

    &:nth-child(even) {
      flex-direction: row-reverse;

      & .works__info {
        margin-left: 30px;
        margin-right: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &.visible {
      opacity: 1;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
  }

  &__image {
    height: 100%;
    max-height: 340px;
    width: auto;
    border-radius: 8px;
  }

  &__title {
    font-size: 26px;
    letter-spacing: 0.035em;
    line-height: 39px;
  }

  &__technologies {
    // width: 100%;
    display: flex;
    flex-direction: column; 
  }

  &__item {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 10px;
    padding-left: 11px;
    position: relative;
    word-wrap: break-word;
    // list-style: circle outside;

    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 2px solid $dark_main;
      top: calc(50% - 2px);
      left: 0;

      @include transition(border);
    }

    &:first-child {
      margin-top: 0;
    }
  }
  
  &__soon {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &__text {
      width: 385px;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      line-height: 30px;
      margin-top: 75px;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__button {
    height: 60px;
    padding: 0 20px 0 15px;
    background-color: $dark_main;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($dark_main, 10%)
    }

    &__text {
      font-size: 24px;
      letter-spacing: 1.5px;
      margin-right: 10px;
      color: $light_main;

      @include transition(color);
    }

    &__ico {
      height: 24px;
      width: auto;
      fill: $light_main;

      @include transition(fill);
    }
  }
}