@import '../../styles/variables.scss';

.contacts {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__email {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
    color: $dark_main;
    transition: color 0.2s;

    &:hover {
      color: $light_blue;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__button {
    margin-left: 50px;
    transition: transform 0.2s;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transform: scale(1.1);
    }

    &>button {
      height: 48px;
      width: 49px;
      background-color: $dark_main;
      mask-size: cover;
      mask-position: center;

      transition: tarnsform 0.3s, background-color 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      &.telegram {
        mask-image: url(../../assets/icons/telegram.svg);
      }
      &.github {
        mask-image: url(../../assets/icons/github.svg);
      }
      &.behaunce {
        mask-image: url(../../assets/icons/behaunce.svg);
      }
      &.habr {
        mask-image: url(../../assets/icons/habr.svg);
      }
    }
  }
}